@use '../../../../styles' as *;

:host {
    flex: 1;
    display: flex;
    overflow-y: auto;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @extend .app-card;

    .header {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #444;
            margin-bottom: 12px;
            word-break: break-all;

            .details-container {
                padding-bottom: 5px;

                .text {
                    padding-bottom: 10px;
                }

                .details {
                    display: flex;
                    align-items: start;
                    gap: 10px;
                    color: $text-gray;

                    .type {
                        word-break: normal;
                    }
                }
            }

            .right {
                min-width: 100px;
                flex-direction: column;
                display: flex;
                align-items: flex-end;
                gap: 5px;
                margin-right: 5px;

                .date {
                    text-align: center;
                    color: $text-gray;
                }
            }
        }

        .default {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-gray;
        }
    }
}

.secondary {
    color: $text-gray;
}
