.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .title-bar {
        height: 40px;
        -webkit-app-region: drag;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;

        img {
            height: 18px;
        }

        &.darwin {
            justify-content: flex-end;
        }
    }

    .app {
        flex: 1;
        display: flex;
        overflow: auto;

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow: auto;

            .router-content {
                flex: 1;
                display: flex;
                justify-content: center;
                overflow: auto;
            }

            .footer {
                padding: 0 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                gap: 10px;

                .version {
                    font-size: 12px;
                    color: #888;
                }
            }
        }
    }
}
